/* footer */ 

/* main footer */ 
.section{
    .footer{
        &__inner{
            margin-top: 0;
        }
    }
}

.footer{
    &-top{
        background: #1b3b86;
        &__inner{
            display: flex;
            align-items: center;
            max-width: 140rem;
            height: 5.1rem;
            margin: 0 auto;
        }
    }
    &-bottom{
        background: #131a2b;
        &__inner{
            display: flex;
            max-width: 140rem;
            height: auto;
            margin: 0 auto;
            padding: 4.3rem 0 5rem 0;
        }
    }
    &-link{
        font-size: 1.6rem;
        color:#8f9fc5;
        &__privacy{
            font-weight: 500;
            color: #aecbff;
        }
        &+&{
            display: inline-block;
            margin-left: 3.5rem;
        }
    }
    
    &-logo{
        margin-right: 6rem;
        a{
            display: inline-block;
            width:24.8rem;
            height:5.8rem;
            background: url(../image/common/footer-logo.png) no-repeat center;
            background-size: cover;
        }
    }
    &-txt{
        &__info{
            &--li{
                display: inline-block;
                font: {
                    size: 1.6rem;
                    weight:500;
                };
                color:#7a7c82;
                vertical-align: middle;
                span{
                    font-size: 1.6rem;
                    padding-right: .8rem;
                    font-weight: 500;
                    color:#b6bdcd;
                }
                a{
                    font-size: 1.6rem;
                    color:#7a7c82;
                }
                &+&{
                    &::before{
                        display: inline-block;
                        margin: 0 1rem;
                        margin-top: -.4rem;
                        color:#aaaaaa;
                        font-size: 1.5rem;
                        //vertical-align: middle;
                        content: '|';
                    }
                }
            }
            &--bottom{
                margin-top: 1rem;
            }
        }
        &__copyright{
            margin-top: 2rem;
            font: {
                size: 1.5rem;
                weight:500;
            };
            color:#a3a6ab;
            opacity: .5;
        }
    }
    &-sns{
        display: flex;
        align-items: center;
        margin-left: auto;
        &__link{
            display: block;
            width: 4rem;
            height: 4rem;
            background-size: cover;
            &--facebook{
                background-image: url(../image/common/footer-sns.png);
                background-size: 4rem;
            }
        }
    }
    &-site{
        display: flex;
        align-items: center;
        margin-left: 3rem;
        &__select{
            width: 23.6rem;
            height: 5.8rem;
            padding: 0 3rem;
            text-indent: 0;
            font-size: 1.6rem;
            color:#bbbbbb;
            border: 1px solid #5a5f6b;
            background: transparent url(../image/common/icon/footer-select.png) no-repeat center right 3rem;
        }
    }
    /* 푸터 서브 */ 
    &-sub{
        .footer{
            &__inner{
                margin-top: 10rem;
            }
            &-top{
                background: #f0f0f2;
            }
            &-link{
                color:#000000;
                &__privacy{
                    color: #193988;
                }
            }
            &-bottom{
                background: #ffffff;
            }
            &-logo{
                a{
                    background-image: url(../image/common/footer-logo__sub_.png);
                }
            }
            &-sns{
                &__link--facebook{
                    background-image: url(../image/common/footer-sns__sub.png);
                }
            }
            &-site{
                &__select{
                    color:#747478;
                    border-color:#ccccce;
                    background: url(../image/common/icon/footer-select__sub.png) no-repeat center right 3rem;
                }
            }
            &-text{
                &__info{
                    &--li{
                        color:#747478;
                        span{
                            color:#a4a4a4;
                        }
                    }
                }
            }
            &-txt{
                &__info{
                    &--li{
                        color: #747478;
                        span{
                            color:#a4a4a4;
                        }
                    }
                }
                &__copyright{
                    color:#000000;
                }
            }
        }
        
    }
}


/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/ 

@media screen and(max-width:720px){
    .footer{
        &-logo{
            margin-right:0;
            a{
                width: 37.2rem;
                height: 8.7rem;
            }
        }
        &-link{
            font-size: 2.5rem;
        }
        &-top{
            &__inner{
                height: 8rem;
                padding: 0 4rem;
            }
        }
        &-bottom__inner{
            flex-wrap: wrap;
            padding: 7.5rem;
            justify-content:center;
        }
        &-txt{
            width:100%;
            margin-top: 5rem;
            &__info{
                &--li{
                    text-align: center;
                    font-size: 2.4rem;
                    line-height: 4rem;
                    span{
                        font-size: 2.4rem;
                    }
                    a{
                        font-size: 2.4rem;
                    }
                }
                &--bottom{
                    margin-top: 0;
                    text-align: center;
                }
            }
            &__copyright{
                margin-bottom: 4rem;
                font-size: 2.1rem;                
                line-height: 1.43;
                text-align: center;
            }
        }
        &-sns{
            margin-left: 0;
            &__link{
                width: 6rem;
                height: 6rem;
                &--facebook{
                    background-size: 6rem;
                }
            }
        }
        &-site{
            width: 100%;
            margin-left: 0rem;
            margin-top: 3rem;
            &__select{
                width:100%;
                height: 9rem;
                padding: 0 5.5rem ;
                font-size: 2.5rem;
                background-position: right 5rem center;
                background-size: 2.4rem 1.35rem;
            }
        }
        &-sub{
            .footer{
                &-logo{
                    a{
                        background-image: url(../image/common/footer-logo__sub_.png);
                    }
                }
            }
        }
    }
}